.search-input{
    margin-top: 0px;
    margin-left: 32px;
    margin-right: 32px;

    width: 938px;
    height: 40px;
}

@media (max-width: 420px ){
    .search-input{
        margin-top: 0px;
        margin-left: 16px;
        margin-right: 16px;
    
        width: 388px;
        height: 40px;
    }
}
@media (max-width: 1010px ){
    .search-input{
        width: 90%;
        margin-left: 5%;
        margin-right: 5%;
    }
}